
<div class="form">
  <h2> Sign Up </h2>

  <form>
    <label for="placeName-input"> PLACE NAME </label>
    <br />
    <input id="placeName-input" type="text" placeholder="Miami Soccer Field"
       name="placeNameInput"/>
      <br />

    <label for="email-input"> EMAIL </label>
    <br />
    <input id="email-input" type="text" placeholder="d10s@maradona.com"
       name="usernameInput"/>
    <br />

    <label for="password-input"> PASSWORD</label>
    <br />
    <input id="password-input" type="password" placeholder="*********"
       name="passwordInput" />
      <br />

    <label for="phone-input"> PHONE </label>
    <br />
    <input id="phone-input" type="text" placeholder="(305)-555-5555"
       name="phoneInput"/>
    <br />

    <label for="location-input"> LOCATION </label>
    <br />
    <input id="location-input" type="text" name="locationInput"
      placeholder="523 NW 73rd St, Miami, FL 33150" />
    <br />

    <label for="fields-input"> NUMBER OF FIELDS </label>
    <br />
    <input id="fields-input" type="text" placeholder="4"
       name="fieldsInput"/>
    <br />


      <button> Join </button>
  </form>
  <div class="form-bottom">
    <p>Already have an account ? <a>Login</a></p>
  </div>
</div>
