<div class="form">
  <h2> Sign in to Footballer. </h2>
  <p> Enter Your Details Below</p>

  <form (ngSubmit)="loginPlayer()">
    <label for="email-input"> EMAIL </label>
    <br />
    <input id="email-input" type="text" placeholder="e.g. batman@gotham.com"
      [(ngModel)]="thePlayer.email" name="emailInput"/>
    <br />

    <label for="password-input"> PASSWORD</label>
    <br />
    <input id="password-input" type="password" placeholder="e.g. *********"
      [(ngModel)]="thePlayer.password" name="passwordInput" />
      <br />

      <button> Login </button>
  </form>
  <div class="form-bottom">
    <p>Don't have an account ? <a>Sign Up</a></p>
  </div>
</div>
