<div class="form">
  <h2> Sign Up </h2>

  <form>
    <label for="fullname-input"> FULL NAME </label>
    <br />
    <input id="fullname-input" type="text" placeholder="e.g. Bruce Wayne"
       name="fullNameInput"/>
      <br />

    <label for="email-input"> EMAIL </label>
    <br />
    <input id="email-input" type="text" placeholder="e.g. d10s@maradona.com"
       name="usernameInput"/>
    <br />

    <label for="password-input"> PASSWORD</label>
    <br />
    <input id="password-input" type="password" placeholder="e.g. *********"
       name="passwordInput" />
      <br />

    <label for="phone-input"> PHONE </label>
    <br />
    <input id="phone-input" type="text" placeholder="e.g. (305)-555-5555"
       name="phoneInput"/>
    <br />

    <label for="nationality-input"> NATIONALITY </label>
    <br />
    <input id="nationality-input" type="text" placeholder="e.g. Argentina"
       name="nationalityInput"/>
    <br />

    <label for="position-input"> POSITION </label>
    <br />
    <input id="position-input" type="text" placeholder="e.g. FORWARD"
       name="positionInput"/>
    <br />


      <button> Join </button>
  </form>
  <div class="form-bottom">
    <p>Already have an account ? <a>Login</a></p>
  </div>
</div>
