<header class="top">
  <a>Log In</a>
</header>

<p>
  Captain: {{ matchInfo.captain }}
</p>

<h2 class="head"> MATCH STATUS </h2>

  <section>
    <div class="container">
      <div class="item">
        <div class="location">
        <img src="../assets/location.png" alt="Location" id="location" />
        <p class="item-p p-left">53 NW 73rd St, Miami Fl, 33150</p>
      </div>
      </div>
      <div class="item">
        <p class="item-p"> {{matchInfo.date}} </p>
      </div>
      <div class="item">
        <div class="invite">
          <img src="../assets/invite.png" alt="Invite" id="invite"/>
          <p class="item-p">Invite</p>
        </div>
      </div>
    </div>
    <div class="bottom">
      <span><i>The price of the field hourly: $120</i></span>
      <span><i>Estimated price per player: $10</i></span>
    </div>
  </section>

  <div class="match-status">
    <h3> STADIO SOCCER </h3>
  </div>

  <div class="blue-square">
  </div>

  <img src="../assets/soccer-field.png" id="soccer-field" alt="Soccer Field"/>

  <button type="button" name="check-in" id="check-in">Check in to play</button>

  <player-signup></player-signup>
  <br />

  <player-login></player-login>
